body {
  background-color: antiquewhite;
  margin: 40px;
}

#tarolo {
  background-color: antiquewhite;
  color: antiquewhite;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#menu a {
  color: rgb(172, 27, 27);
  text-decoration: none;
  border: 1px solid brown;
  padding: 5px 10px 5px 10 px;
  margin: 10px;
  background-color: blanchedalmond;
  border-radius: 10px;
}

#menu a:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
}
h2 {
  color: brown;
  text-decoration: underline;
  margin: 10px;
}
h1 {
  color: brown;
  background-color: antiquewhite;
  border: 2px;
  border-color: brown;
  border-style: double;
  border-radius: 10px 5px 10px 5px;
  border-width: 5px;
}
p{ font-size: large;}
