body {
    background-color: antiquewhite;
}

#tarolo {
    background-color: brown;
    color: antiquewhite;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#menu a {
    color: rgb(172, 27, 27);
    text-decoration: none;
    border: 1px solid brown;
    padding: 5px 10px 5px 10 px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;

}

#menu a:hover {
    color: rgb(255, 0, 0);
    background-color: aqua;
}